[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/starter-academic"]
	path = themes/starter-academic
	url = https://github.com/wowchemy/starter-academic.git
